/* classe destiné a l'élément contenant une carte. Son image de backgroud sera le dos de la carte*/
.image-cell
{
    background-image: url("../images/humors/background.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}