
/* Cette classe est destiné aux images contenant les cartes, quand elles sont face cachée
Dans cet état elles sont invisibles, laissant voir l'image de l'élément les contenant. Cf. la classe image-cell*/
img.back-visible {
    /* On utilise pas cette classe, parce que si un élément a sa visibility mise à hidden, il ne reçoit plus les
    événement de souris. Et ça serait problématique :) */
    /*visibility: hidden; */
    /*La on colle l'opacité au minimum. L'élément sera invisible, mais toujours présent pour recevoir les événements*/
    opacity: 0.0;
}


img.front-visible {
    opacity: 1;
}

img.pair-find {
    opacity: 1;
}

/*
à voir plus tard.
*/
table{
    min-width: 400px;
    min-height: 300px;
    width: 65%;
    height: 90%;
}

img{
    width: 100%;
    height: 100%;
}
