body
{
    background: url(../images/wallpaper/fondecranG.jpg) no-repeat fixed;
    background-size: cover;
}
/*html {
    height: 100%;
}*/

/*body {
    margin: 0px;
    padding: 0px;
    outline: 0px;
    background-color: yellow;
}

div {
    background-color: red;
    width: 100%;
}*/
/* Cette classe est destiné aux images contenant les cartes, quand elles sont face cachée
Dans cet état elles sont invisibles, laissant voir l'image de l'élément les contenant. Cf. la classe image-cell*/
img.back-visible {
    /* On utilise pas cette classe, parce que si un élément a sa visibility mise à hidden, il ne reçoit plus les
    événement de souris. Et ça serait problématique :) */
    /*visibility: hidden; */
    /*La on colle l'opacité au minimum. L'élément sera invisible, mais toujours présent pour recevoir les événements*/
    opacity: 0.0;
}


img.front-visible {
    opacity: 1;
}

img.pair-find {
    opacity: 1;
}

table{
    border-collapse: separate;
    border-spacing: 8px 8px;
    /*border-collapse: collapse;*/
    /*max-width: 700px;
    max-height: 400px;
    min-width: 350px;
    min-height: 200px;*/
    /*width: 175%;*/
    /*height: 175%*/
    /*width: 100%;*/
    /*height: 100%;*/
}

/*img{
    width: 100%;
    height: 100%;
    width: 50px;
    height: 50px;
	
}*/

/* td
{
   background-repeat: no-repeat;
   background-position: center;
   background-size: 110px;
   border: 1px solid black;
   box-shadow: 4px 4px 0px #333333;
   /*background-size: auto;*/
/*background-size: 100%;*/
/*background-size: contain;*/
/* width: 110px;
height: 110px;*/
/* margin: 10px;*/
/*}*/

.card_back-visible
{
    width: 110px;
    height: 110px;
    vertical-align: bottom;
}
.page
{
    position: absolute;
    top: 0;
    left: 0;
}
.titreformat
{
    position: absolute;
    top: 50px;
    left: 10px;
    width: 400px;
    font-size: 1.3em;
    font-family: Calibri,Verdana,Trebuchet MS,sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: #000000 3px 3px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}
.tab
{
    position: absolute;
    top: 100px;
    left: 10px;
}
.second
{
    position: absolute;
    top: 65px;
    left: 460px;
    width: 600px;
    font-size: 0.8em;
    font-family: Calibri,Verdana,Trebuchet MS,sans-serif;
    font-weight: bold;
    color: #FFFFFF;
}