/* classe destiné a l'élément contenant une carte. Son image de backgroud sera le dos de la carte*/
.image-cell
{
    background-image: url("../images/sad/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto auto;
    /*background-size: 100% 100%;*/
    /*background-size: contain;*/
}